html {
  background-color: #ecf0f3 !important;
  scroll-behavior: smooth;
}
.navbar {
  border-top: 8px solid #00d1b2;
  margin-bottom: 1rem; /* rem е спрямо размера на шрифта, често е 16px */
}
.brand-text {
  font-weight: 500;
  text-transform: uppercase;
}
.navbar.is-fixed-top {
  transition: background-color 0.5s ease;
}
.navbar.is-stuck {
  background-color: #fff;
  color: #0a0a0a;
}

.navbar.is-stuck .navbar-item:hover,
.navbar.is-stuck .navbar-item:focus {
  background-color: #f2f2f2 !important;
}

.underline {
  text-decoration: underline;
}

.loader {
  width: 7rem;
  height: 7rem;
  margin: 2rem auto;
}

mark {
  background-color: #ffe08a;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2em;
}
